{% extends 'base/base_hero.html' %}

{% block title %}
    {{ block.super }} | About
{% endblock title %}

{% block content %}
<h1 class="title">
    Made with
    <i class="fab fa-html5"></i>,
    <i class="fab fa-css3-alt"></i> and
    <i class="fab fa-python" data-fa-transform="shrink-2" data-fa-mask="fas fa-square"></i>
</h1>
<h2 class="subtitle">Created by Shakib Hossain.</h2>
<p>
    Contact:&nbsp;
    <a href="https://github.com/shakib609/" target="_blank"><i class="fab fa-github"></i></a>&nbsp;
    <a href="https://gitlab.com/shakib609/" target="_blank"><i class="fab fa-gitlab"></i></a>&nbsp;
    <a href="https://fb.com/shakib609/" target="_blank"><i class="fab fa-facebook"></i></a>&nbsp;
    <a href="https://twitter.com/shakib609" target="_blank"><i class="fab fa-twitter"></i></a>
</p>
{% endblock content %}
