{% extends 'base/thesis_dashboard_base.html' %}
{% load static %}
{% load my_tags %}

{% block title %}
    {{ block.super }} | Invite Friends
{% endblock title %}


{% block page_title %}
    <h1 class="title">Profile Settings</h1>
    <h3 class="subtitle">Update your account details</h3>
{% endblock page_title %}


{% block dashboard_content %}

<div class="column is-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="field">
                <div class="field is-fullwidth">
                    <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>

                    {{ field | addclass:"input" }}

                    {% if field.help_text %}
                        <div class="help is-size-7">{{ field.help_text|safe }}</div>
                    {% endif %}
                    
                    {% if field.errors %}
                        <div class="help has-text-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
        {% endfor %}
        <div class="field">
            <div class="control">
                <button type="submit"class="button is-primary">
                    Update
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock dashboard_content %}
