{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock extra_css %}


{% block content %}
    <form method="post" class="form-signin text-center">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>

        <label for="username" class="sr-only">Username</label>
        <input type="text"
            id="username"
            name="username"
            class="form-control"
            placeholder="Username"
            required="" autofocus="">
        <label for="password" class="sr-only">Password</label>
        <input type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Password"
            required="">

        {% if form.errors %}
        <p class="font-weight-bold text-danger">
            Invalid Username/Password!
        </p>
        {% endif %}
        <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
        <p class="mt-3 text-left">Don't have an account?
        <a href="{% url 'registration:register' %}">Register Now!</a></p>
        <p class="mt-5 mb-3 text-muted">© IIUC 2017-2018</p>

        {% csrf_token %}
    </form>
{% endblock content %}
