{% extends 'base.html' %}


{% block body %}
<section class="hero is-primary is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <h1 class="has-text-bold">Thesis Review System</h1>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active"
                href="{% url 'registration:login' %}">
              Home
            </a>
            <a class="navbar-item"
                href="{% url 'registration:register' %}">
              Register
            </a>
            <a class="navbar-item"
                href="#">
              About
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
            <h3 class="title">Login</h3>
            <p class="subtitle">Please login to proceed.</p>
            <div class="box">
                <form method="post">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control has-icons-left">
                            <input
                            {% if form.errors %}
                                class="input is-large is-danger"
                            {% else %}
                                <input class="input is-large"
                            {% endif %}
                                type="text"
                                name="username"
                                placeholder="Username" autofocus=""
                                required="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-icons-left">
                            <input
                            {% if form.errors %}
                                class="input is-large is-danger"
                            {% else %}
                                <input class="input is-large"
                            {% endif %}
                                type="password"
                                name="password"
                                placeholder="Password"
                                required="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                    </div>
                    <input type="submit"
                        value="Login"
                        class="button is-block is-info is-large is-fullwidth">
                </form>
            </div>
            <p>
                <a href="{% url 'registration:register' %}">Register</a> &nbsp;·&nbsp;
                <a href="#">About</a>
            </p>
        </div>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot has-text-centered">
    <p>&copy; IIUC 2018.</p>
  </div>
</section>
{% endblock body %}
