{% extends 'base/thesis_dashboard_base.html' %}
{% load static %}
{% load my_tags %}


{% block title %}
    {{ block.super }} | Teachers List
{% endblock title %}


{% block page_title %}
    <h3 class="title">Teachers List (Department of CSE, IIUC)</h3>
    <h4 class="subtitle">List of all the teachers supervising thesis groups.</h4>
{% endblock page_title %}


{% block dashboard_content %}

<div class="column">
    <div class="card is-fullwidth">
        <header class="card-header">
            <p class="card-header-title">Teachers</p>
        </header>
        <div class="card-content">
        {% if teachers %}
          {% for teacher in teachers %}
            <article class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <a href="{% url 'registration:teacher_detail' teacher.username %}">
                    <img
                      {% if teacher.profile_picture %}
                        src="/media/{{ teacher.profile_picture }}"
                      {% else %}
                        src="{% static 'assets/default_profile_picture.png' %}"
                      {% endif %}
                    >
                  </a>
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p class="is-size-7">
                    <strong class="is-size-6">{{ teacher.full_name }} ({{ teacher.username }})</strong><br>
                      {% if teacher.designation %}
                      <b>Designation:</b> {{ teacher.designation }} &nbsp;-&nbsp;{% endif %}
                      <b>Research Fields:</b> {{ teacher.fields.all|join:', '}} <br>
                      <b>Email Address:</b> <a href="mailto:{{ teacher.email }}" class="has-text-grey-darker">{{ teacher.email }}</a>
                      &nbsp;-&nbsp;
                      <b>Phone Number:</b> <a href="tel:{{ teacher.phone_number }}" class="has-text-grey-darker">{{ teacher.phone_number }}</a>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <a href="{% url 'registration:teacher_detail' teacher.username %}"
                class="button is-small is-info">View</a>
              </div>
            </article>
          {% endfor %}
        {% else %}
            <p class="has-text-centered">No Teachers have registered in the system yet!</p>
        {% endif %}
        </div>
    </div>
</div>

{% endblock dashboard_content %}
