{% extends 'base/thesis_dashboard_base.html' %}
{% load static %}
{% load my_tags %}

{% block title %}
    {{ block.super }} | Invite Friends
{% endblock title %}


{% block page_title %}
    <h1 class="title">Profile Settings</h1>
    <h3 class="subtitle">Update your account details</h3>
{% endblock page_title %}


{% block dashboard_content %}

<div class="column is-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
            <label for="full_name" class="label">Full Name</label>
            <div class="control has-icons-left">
                <input
                  {% if 'full_name' in form.errors %}
                    class="input is-danger"
                  {% else %}
                    class="input"
                  {% endif %}
                  type="text"
                  name="full_name"
                  placeholder="Full Name"
                  {% comment %} autofocus="" {% endcomment %}
                  required=""
                  value="{{ form.full_name.value|default_if_none:'' }}"
                  id="full_name"
                  spellcheck="false">
                <span class="icon is-small is-left">
                    <i class="fas fa-id-card"></i>
                </span>
                {% if 'full_name' in form.errors %}
                <ul class="help is-danger">
                    {% for error in form.errors|get_item:'full_name' %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <div class="field">
            <label for="email" class="label">Email</label>
            <div class="control has-icons-left">
                <input
                  {% if 'email' in form.errors %}
                    class="input is-danger"
                  {% else %}
                    class="input"
                  {% endif %}
                  type="email"
                  name="email"
                  placeholder="E-mail"
                  required=""
                  value="{{ form.email.value|default_if_none:'' }}"
                  id="email">
                <span class="icon is-small is-left">
                    <i class="fas fa-at"></i>
                </span>
                {% if 'email' in form.errors %}
                <ul class="help is-danger">
                    {% for error in form.errors|get_item:'email' %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <div class="field">
            <label for="cgpa" class="label">CGPA</label>
            <div class="control has-icons-left">
                <input
                  class="input {% if 'cgpa' in form.errors %}is-danger{% endif %}"
                  type="number"
                  name="cgpa"
                  placeholder="CGPA"
                  required=""
                  step=".01"
                  value="{{ form.cgpa.value|default_if_none:'' }}"
                  spellcheck="false">
                <span class="icon is-small is-left">
                    <i class="fas fa-percent"></i>
                </span>
                {% if 'cgpa' in form.errors %}
                <ul class="help is-danger">
                    {% for error in form.errors|get_item:'cgpa' %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <div class="field">
            <label for="phone_number" class="label">Phone Number</label>
            <div class="control has-icons-left">
                <input
                  {% if 'phone_number' in form.errors %}
                    class="input is-danger"
                  {% else %}
                    class="input"
                  {% endif %}
                  type="tel"
                  name="phone_number"
                  placeholder="Phone Number"
                  required=""
                  value="{{ form.phone_number.value|default_if_none:'' }}"
                  id="phone_number">
                <span class="icon is-small is-left">
                    <i class="fas fa-phone" data-fa-transform="flip-h"></i>
                </span>
                {% if 'phone_number' in form.errors %}
                <ul class="help is-danger">
                    {% for error in form.errors|get_item:'phone_number' %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <div class="field">
            <label for="username" class="label">Varsity ID/Username</label>
            <div class="control has-icons-left">
                <input type="hidden" name="username" value="{{ form.username.value }}">
                <input
                  {% if 'username' in form.errors %}
                    class="input is-danger"
                  {% else %}
                    class="input"
                  {% endif %}
                  type="text"
                  name="username"
                  disabled
                  placeholder="Varsity ID"
                  required=""
                  value="{{ form.username.value|default_if_none:'' }}"
                  id="username">
                <span class="icon is-small is-left">
                    <i class="fas fa-hashtag"></i>
                </span>
                {% if 'username' in form.errors %}
                <ul class="help is-danger">
                    {% for error in form.errors|get_item:'username' %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="field">
          <label class="label">Profile Picture</label>
          <div
            {% if 'profile_picture' in form.errors %}
              class="file is-danger has-name"
            {% else %}
              class="file is-info"
            {% endif %}>
            <label class="file-label">
              <input class="file-input" type="file" accept="image/*" name="profile_picture">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Select File
                </span>
              </span>
            </label>
          </div>
          <p class="help">Square jpeg photos preferred.</p>
          {% if 'profile_picture' in form.errors %}
          <ul class="help is-danger">
              {% for error in form.errors|get_item:'profile_picture' %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
          {% endif %}

          <p>Current Profile Picture: {% if not user.profile_picture %}-{% endif %}</p>
          {% if user.profile_picture %}
            <img width="150px" src="/media/{{ user.profile_picture }}" alt="{{ user.username }} profile picture">
          {% endif %}
        </div>

        {% if user.is_teacher %}
        <div class="field">
            <label for="qualification" class="label">Qualification</label>
            <div class="control has-icons-left">
                <input
                  {% if 'qualification' in form.errors %}
                    class="input is-danger"
                  {% else %}
                    class="input"
                  {% endif %}
                  type="text"
                  name="qualification"
                  placeholder="Qualification"
                  required=""
                  value="{{ form.qualification.value|default_if_none:'' }}"
                  id="qualification">
                <span class="icon is-small is-left">
                    <i class="fas fa-graduation-cap"></i>
                </span>
                {% if 'qualification' in form.errors %}
                <ul class="help is-danger">
                    {% for error in form.errors|get_item:'qualification' %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="field">
            <label for="designation" class="label">Designation</label>
            <div class="control has-icons-left">
                <input
                  {% if 'designation' in form.errors %}
                    class="input is-danger"
                  {% else %}
                    class="input"
                  {% endif %}
                  type="text"
                  name="designation"
                  placeholder="Designation"
                  required=""
                  value="{{ form.designation.value|default_if_none:'' }}"
                  id="designation">
                <span class="icon is-small is-left">
                    <i class="fas fa-map-marker"></i>
                </span>
                {% if 'designation' in form.errors %}
                <ul class="help is-danger">
                    {% for error in form.errors|get_item:'designation' %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="field">
          <label class="label">CV Document</label>
          <div
            {% if 'cv_document' in form.errors %}
              class="file is-danger has-name"
            {% else %}
              class="file is-info"
            {% endif %}>
            <label class="file-label">
              <input class="file-input" type="file" accept=".pdf" name="cv_document">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Select File
                </span>
              </span>
            </label>
          </div>
          <p class="help">PDF files are allowed.</p>
          {% if 'cv_document' in form.errors %}
          <ul class="help is-danger">
              {% for error in form.errors|get_item:'cv_document' %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="field">
          <label class="label">Research Fields</label>
          {% for check in form.research_fields %}
            {{ check }}
          <br>
          {% endfor %}
        </div>
        {% endif %}

        <div class="field">
            <div class="control">
                <button type="submit"class="button is-primary">
                    Update
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock dashboard_content %}
