{% extends 'base/base.html' %}
{% load static %}
{% load my_tags %}

{% block body %}
<section class="hero is-transparent is-fullheight">
  <div class="hero-bg"></div>
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    {% block navbar %}
      {% include 'include/navbar.html' %}
    {% endblock navbar %}
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      {% if messages %}
        <div class="columns">
          <div class="column is-4 is-offset-4">
            {% include "include/messages.html" %}
          </div>
        </div>
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot has-text-centered">
    <p class="is-size-7">&copy; IIUC 2020</p>
  </div>
</section>

    {% block js %}
    {{ block.super }}
    {% endblock js %}
{% endblock body %}
