{% extends 'base/base.html' %}
{% load static %}
{% load my_tags %}

{% block extra_css %}
<style>
    nav.navbar {
        border-bottom: 2px #276cda solid;
    }
</style>
{% endblock extra_css %}


{% block content %}
{% url 'thesis:document_list' as document_list %}
{% url 'registration:teacher_list' as teacher_list %}
{% url 'thesis:document_upload' as document_upload %}
{% url 'thesis:group_list' as group_list %}
{% url 'thesis:internal_group_list' as internal_group_list %}
{% url 'thesis:external_group_list' as external_group_list %}
{% url 'thesis:group_invite' as group_invite %}
{% url 'thesis:group_update' as group_update %}
{% url 'thesis:group_create' as group_create %}
{% url 'thesis:group_join' as group_join %}
{% url 'thesis:user_notifications' as user_notifications %}
{% url 'registration:user_update' as user_update %}
{% url 'registration:change_password' as change_password %}
{% url 'registration:logout' as logout %}
{% url 'registration:user_delete' as user_delete %}

<div class="container is-fluid" id="main-container">
    <div class="columns">
        <div class="column is-2" style="min-width: 210px;">
            <aside class="menu has-text-weight-bold">
                <p class="menu-label">Department</p>
                <ul class="menu-list">
                  <li>
                    <a href="{{ teacher_list }}"
                      {% if request.path == teacher_list %}class="is-active"{% endif %}>
                      <i class="fas fa-chalkboard-teacher"></i>&nbsp; Teachers
                    </a>
                  </li>
                </ul>
                <p class="menu-label">Group</p>
                <ul class="menu-list">
                    {% if user.is_teacher %}
                      {% if user.is_external %}
                      <li><a href="{{ external_group_list }}"
                      class="{% if request.path|startswith:external_group_list %}is-active{% endif %}">
                          <i class="fas fa-align-justify"></i>&nbsp; Groups</a></li>
                      {% else %}
                      <li><a href="{{ group_list }}"
                      class="{% if request.path|startswith:group_list %}is-active{% endif %}">
                          <i class="fas fa-align-justify"></i>&nbsp; Groups</a></li>
                      <li><a href="{{ internal_group_list }}"
                      class="{% if request.path|startswith:internal_group_list %}is-active{% endif %}">
                          <i class="fas fa-align-justify"></i>&nbsp; Groups(As Internal)</a></li>
                      {% endif %}
                    {% elif user.studentgroup %}
                    <li><a href="{{ document_list }}"
                    class="{% if request.path == document_list %}is-active{% endif %}">
                        <i class="fas fa-align-justify"></i>&nbsp; Documents</a></li>
                    <li><a href="{{ document_upload }}"
                    class="{% if request.path == document_upload %}is-active{% endif %}">
                        <i class="fas fa-upload"></i>&nbsp; Upload</a></li>
                    <li><a href="{{ group_invite }}"
                    class="{% if request.path == group_invite %}is-active{% endif %}">
                        <i class="fas fa-share"></i>&nbsp; Invite</a></li>
                    <li><a href="{{ group_update }}"
                    class="{% if request.path == group_update %}is-active{% endif %}">
                        <i class="fas fa-wrench"></i>&nbsp; Group Settings</a></li>
                    {% else %}
                    <li><a href="{{ group_create }}"
                    class="{% if request.path == group_create %}is-active{% endif %}">
                        <i class="fas fa-plus"></i>&nbsp; Create Group</a></li>
                    <li><a href="{{ group_join }}"
                    class="{% if request.path == group_join %}is-active{% endif %}">
                        <i class="fas fa-sign-in-alt"></i>&nbsp; Join Group</a></li>
                    {% endif %}
                </ul>
                <p class="menu-label">Account</p>
                <ul class="menu-list">
                    <li><a href="{{ user_notifications }}"
                        class="{% if request.path == user_notifications %}is-active{% endif %}">
                        <i class="fas fa-bell" ></i>&nbsp; Notifications {% if unread_notifications_count %}<b>({{unread_notifications_count}})</b>{% endif %}</a></li>
                    <li><a href="{{ user_update }}"
                        class="{% if request.path == user_update %}is-active{% endif %}">
                        <i class="fas fa-cog"></i>&nbsp; Profile Settings</a></li>
                    <li><a href="{{ change_password }}"
                        class="{% if request.path == change_password %}is-active{% endif %}">
                        <i class="fas fa-key"></i>&nbsp; Change Password</a></li>
                    <li><a href="{{ logout }}"
                        class="{% if request.path == logout %}is-active{% endif %}">
                        <i class="fas fa-sign-out-alt"></i>&nbsp; Logout</a></li>
                    {% comment %} <li><a href="{{ user_delete }}"
                        class="{% if request.path == user_delete %}is-active{% endif %}">
                        <i class="fas fa-trash"></i>&nbsp; Account Removal</a></li> {% endcomment %}
                </ul>
            </aside>
        </div>
        <div class="column">
            <div class="columns is-multiline">

                {% include "include/messages.html" %}

                <div class="column">
                    {% block page_title %}
                        {% if studentgroup %}
                        <h3 class="title">
                            {{ studentgroup.title }}&nbsp;
                            {% if not studentgroup.approved %}
                            <span class="tag is-danger is-large is-light">
                                Pending Admin Approval
                            </span>
                            {% elif studentgroup.status %}
                            <span class="tag is-link is-large is-light">
                                {{ studentgroup.status }}
                            </span>
                            {% endif %}
                        </h3>
                        <h4 class="subtitle is-size-6">
                          <b>Research Field: </b>
                            {% if studentgroup.field %}
                              {{ studentgroup.field.name }}
                            {% else %}
                              Not assigned yet
                            {% endif %}
                          <br>
                          <b>Supervisor: </b>
                            {% if studentgroup.teacher %}
                              <a href="{% url 'registration:teacher_detail' user.username %}">
                              {{ studentgroup.teacher }}
                              </a>
                            {% else %}
                              Not assigned yet!
                            {% endif %}
                          <br>
                          <b>Members: </b>
                          {% comment %} {{ studentgroup.students.all|join:", " }} {% endcomment %}
                          {% for student in studentgroup.students.all %}
                            <a href="{% if user == student %}/account/{% else %}{% url 'registration:student_detail' student.username %}{% endif %}">{{ student }}</a>{% if not forloop.last %},{% endif %}
                          {% endfor %}

                        {% if studentgroup.status == 'Defense Done' and user == studentgroup.teacher or user == studentgroup.internal or user == studentgroup.external %}
                          <br/>
                          <b>Grading Status:</b>
                          {% if graded %}
                            <span title="Graded" class="fas fa-check-circle has-text-success"></span>
                            Submitted
                          {% else %}
                            {% if studentgroup.status == 'Defense Done' %}
                            <a href="{% url 'thesis:grading_students' studentgroup.md5hash %}">
                              Grade Students
                            </a>
                            {% else %}
                              Defense Report must be accepted by Supervisor before grading
                            {% endif %}
                          {% endif %}
                        {% endif %}
                        </h4>
                        {% else %}
                        <h3 class="title">Groups</h3>
                        {% endif %}
                    {% endblock page_title %}
                </div>
            </div>
            <div class="columns is-desktop">
                {% block dashboard_content %}
                {% endblock dashboard_content %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
