{% extends 'base/base.html' %}
{% load static %}


{% block extra_css %}
<style>
    nav.navbar {
        border-bottom: 2px #276cda solid;
    }
</style>
{% endblock extra_css %}


{% block content %}
{% url 'thesis:document_list' as document_list %}
{% url 'registration:teacher_list' as teacher_list %}
{% url 'thesis:document_upload' as document_upload %}
{% url 'thesis:group_list' as group_list %}
{% url 'thesis:group_invite' as group_invite %}
{% url 'thesis:group_update' as group_update %}
{% url 'thesis:group_create' as group_create %}
{% url 'thesis:group_join' as group_join %}
{% url 'registration:user_update' as user_update %}
{% url 'registration:user_delete' as user_delete %}

<div class="container is-fluid" id="main-container">
    <div class="columns">
        <div class="column is-2">
            <aside class="menu has-text-weight-bold">
                <p class="menu-label">Department</p>
                <ul class="menu-list">
                  <li>
                    <a href="{{ teacher_list }}"
                      {% if request.path == teacher_list %}class="is-active"{% endif %}>
                      <i class="fas fa-chalkboard-teacher"></i>&nbsp; Teachers
                    </a>
                  </li>
                </ul>
                <p class="menu-label">Group</p>
                <ul class="menu-list">
                    {% if user.is_teacher %}
                    <li><a href="{{ group_list }}"
                    class="{% if request.path == group_list %}is-active{% endif %}">
                        <i class="fas fa-align-justify"></i>&nbsp; Groups</a></li>
                    {% elif user.studentgroup %}
                    <li><a href="{{ document_list }}"
                    class="{% if request.path == document_list %}is-active{% endif %}">
                        <i class="fas fa-align-justify"></i>&nbsp; Documents</a></li>
                    <li><a href="{{ document_upload }}"
                    class="{% if request.path == document_upload %}is-active{% endif %}">
                        <i class="fas fa-upload"></i>&nbsp; Upload</a></li>
                    <li><a href="{{ group_invite }}"
                    class="{% if request.path == group_invite %}is-active{% endif %}">
                        <i class="fas fa-share"></i>&nbsp; Invite</a></li>
                    <li><a href="{{ group_update }}"
                    class="{% if request.path == group_update %}is-active{% endif %}">
                        <i class="fas fa-wrench"></i>&nbsp; Group Settings</a></li>
                    {% else %}
                    <li><a href="{{ group_create }}"
                    class="{% if request.path == group_create %}is-active{% endif %}">
                        <i class="fas fa-plus"></i>&nbsp; Create Group</a></li>
                    <li><a href="{{ group_join }}"
                    class="{% if request.path == group_join %}is-active{% endif %}">
                        <i class="fas fa-sign-in-alt"></i>&nbsp; Join Group</a></li>
                    {% endif %}
                </ul>
                <p class="menu-label">Account</p>
                <ul class="menu-list">
                    <li><a href="{{ user_update }}"
                        class="{% if request.path == user_update %}is-active{% endif %}">
                        <i class="fas fa-cog"></i>&nbsp; Profile Settings</a></li>
                    <li><a href="{{ user_delete }}"
                        class="{% if request.path == user_delete %}is-active{% endif %}">
                        <i class="fas fa-trash"></i>&nbsp; Account Removal</a></li>
                </ul>
            </aside>
        </div>
        <div class="column">
            <div class="columns is-multiline">

                {% include "include/messages.html" %}

                <div class="column">
                    {% block page_title %}
                        {% if studentgroup %}
                        <h3 class="title">
                            {{ studentgroup.title }}&nbsp;

                            {% if user.is_teacher %}
                                <a href="{% url 'thesis:group_approve' studentgroup.md5hash %}">
                            {% endif %}
                                {% if studentgroup.approved %}
                                <span class="button is-static is-outlined is-success">
                                    Approved
                                </span>
                                {% else %}
                                <span class="button is-static is-outlined is-danger">
                                    Pending
                                </span>
                                {% endif %}
                            {% if user.is_teacher %}
                                </a>
                            {% endif %}

                        </h3>
                        <h4 class="subtitle is-size-6">
                          <b>Research Field: </b>
                            {% if studentgroup.field %}
                              {{ studentgroup.field.name }}
                            {% else %}
                              Not assigned yet
                            {% endif %}
                          <br>
                          <b>Superviser: </b>
                            {% if studentgroup.teacher %}
                              {{ studentgroup.teacher.username }}
                            {% else %}
                              Not assigned yet!
                            {% endif %}
                          <br>
                          <b>Members: </b>{{ studentgroup.students.all|join:", " }}
                        </h4>
                        <div class="box" id="progress-app" style="margin-bottom:-0.4rem;border-radius:0;">
                          <div class="columns">
                            <div class="column is-2"><b>Progress: </b><small>[[ progress ]]%</small></div>
                            <div class="column">
                              <progress
                                class="progress is-success"
                                style="margin-top:5px;"
                                :value="progress"
                                max="100">
                                [[ progress ]]
                              </progress>
                            </div>
                            {% if user.is_teacher %}
                            <div class="column is-3">
                              <form action="" method="post" id="progress-form">
                                <input type="hidden" name="progress" v-model="progress">
                                {% csrf_token %}
                              </form>
                              <div class="field is-grouped">
                                <p class="control">
                                  <a class="button is-danger is-small"
                                    style="font-family:monospace;"
                                    @click="progress -= 10">
                                    <b>-</b>
                                  </a>
                                </p>
                                <p class="control">
                                  [[ progress ]] %
                                </p>
                                <p class="control">
                                  <a class="button is-primary is-small"
                                    style="font-family:monospace;"
                                    @click="progress += 10">
                                    <b>+</b>
                                  </a>
                                </p>
                              </div>
                            </div>
                            {% endif %}
                          </div>
                        </div>
                        {% else %}
                        <h3 class="title">Groups</h3>
                        {% endif %}
                    {% endblock page_title %}
                </div>
            </div>
            <div class="columns is-multiline">
                {% block dashboard_content %}
                {% endblock dashboard_content %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
  {{ block.super }}
  {% if studentgroup %}
  <script>
  new Vue({
    el: '#progress-app',
    delimiters: ['[[', ']]'],
    data: {
      progress: {{ studentgroup.progress }},
    },
    watch: {
      progress(newV, oldV) {
        if (newV == 100) {
          window.location = window.location.href + "approve/";
        }
        else if (newV < oldV && oldV == 100) {
          window.location = window.location.href + "approve/";
        }
        else if (newV > 100)
          this.progress = 100;
        else if (newV < 0)
          this.progress = 0
        else {
          url = "{% url 'thesis:progress_update' studentgroup.md5hash %}"
          csrf_token = "{{ csrf_token }}";
          fetch(url, {
            method: 'POST',
            body: JSON.stringify(
              {
                progress_value: this.progress
              }),
            headers:{
              'Content-Type': 'application/json',
              'X-CSRFToken': csrf_token
            }
          })
            .then(res => res.json())
            .then(
              response => {
                data = response
                console.log("SUCCESS!", data)
              }
            ).catch(e => {
              console.log("ERROR!", e)
              alert("ERROR handling request! Data not updated on server!")
            })
        }
      }
    }
  })
  </script>
  {% endif %}
{% endblock extra_js %}
