{% extends 'base/base.html' %}


{% block extra_css %}
<style>
    nav.navbar {margin-bottom: 1rem;}
</style>
{% endblock extra_css %}


{% block content %}
{% url 'thesis:document_list' as document_list %}
{% url 'thesis:document_upload' as document_upload %}
{% url 'thesis:group_list' as group_list %}
{% url 'thesis:group_invite' as group_invite %}
{% url 'thesis:group_update' as group_update %}
{% url 'registration:user_update' as user_update %}

<div class="container is-fluid">
    <div class="columns">
        <div class="column is-2">
            <div class="hero">
                <aside class="menu">
                    <p class="menu-label">Group</p>
                    <ul class="menu-list">
                        {% if user.is_teacher %}
                        <li><a href="{{ group_list }}"
                        class="{% if request.path == group_list %}is-active{% endif %}">
                            <i class="fas fa-align-justify"></i>&nbsp; Groups</a></li>
                        {% else %}
                        <li><a href="{{ document_list }}"
                        class="{% if request.path == document_list %}is-active{% endif %}">
                            <i class="fas fa-align-justify"></i>&nbsp; Documents</a></li>
                        <li><a href="{{ document_upload }}"
                        class="{% if request.path == document_upload %}is-active{% endif %}">
                            <i class="fas fa-upload"></i>&nbsp; Upload</a></li>
                        <li><a href="{{ group_invite }}"
                        class="{% if request.path == group_invite %}is-active{% endif %}">
                            <i class="fas fa-share"></i>&nbsp; Invite</a></li>
                        <li><a href="{{ group_update }}"
                        class="{% if request.path == group_update %}is-active{% endif %}">
                            <i class="fas fa-wrench"></i>&nbsp; Group Settings</a></li>
                        {% endif %}
                    </ul>
                    <p class="menu-label">Account</p>
                    <ul class="menu-list">
                        <li><a href="{{ user_update }}"
                            class="{% if request.path == user_update %}is-active{% endif %}">
                            <i class="fas fa-cog"></i>&nbsp; Account Settings</a></li>
                        <li><a href="">
                            <i class="fas fa-trash"></i>&nbsp; Account Removal</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="column">

            {% if studentgroup %}
            <h3 class="title">
                {{ studentgroup.title }}&nbsp;

                {% if user.is_teacher %}
                    <a href="{% url 'thesis:group_approve' studentgroup.md5hash %}">
                {% endif %}
                    {% if studentgroup.approved %}
                    <span class="has-text-success">
                        <i class="fas fa-check-circle"></i>
                    </span>
                    {% else %}
                    <span class="has-text-danger">
                        <i class="fas fa-times-circle"></i>
                    </span>
                    {% endif %}
                {% if user.is_teacher %}
                    </a>
                {% endif %}

            </h3>
            <h4 class="subtitle">Members:
                {{ studentgroup.students.all|join:", " }}.
            </h4>
            {% else %}
            <h3 class="title">Groups</h3>
            {% endif %}

            {% block dashboard_content %}
            {% endblock dashboard_content %}
        </div>
    </div>
</div>
{% endblock content %}
