{% load static %}

<div id="{{ container_id }}" class="content-tab" style="{{ style }}">
    {% if documents %}
        {% for d in documents %}
        <div class="columns is-mobile">
            <div class="column is-8 has-text-small">
                {{ d.filename }} {% if d.is_accepted %}<span title="Accepted" class="fas fa-check-circle has-text-success"></span>{% endif %}
                <br>
                <p class="is-size-7">
                    <span class="icon"><i class="fas fa-upload"></i></span>
                    <time datetime="{{ d.upload_time }}">
                        {{ d.upload_time|date:"d M Y" }} - {{ d.upload_time|date:"H:i" }}
                    </time>
                </p>
            </div>
            <div class="column has-text-right">
                <a
                    href="{% get_media_prefix %}/sg_{{ studentgroup.md5hash }}/{{ d.filename }}"
                    data-sg-code="{{ studentgroup.md5hash }}"
                    data-file-name="{{ d.filename }}"
                    title="View"
                    class="button is-small is-link view-button">
                    <span class="icon"><i class="fas fa-eye"></i></span>
                </a>
                <a
                    href="{% get_media_prefix %}/sg_{{ studentgroup.md5hash }}/{{ d.filename }}"
                    title="Download"
                    target="_blank"
                    class="button is-small is-info">
                    <span class="icon"><i class="fas fa-download"></i></span>
                </a>
                {% if user == studentgroup.teacher %}
                    {% if d.is_accepted %}
                        <button
                            title="Disapprove"
                            data-btn-type="disapprove"
                            data-doc-id="{{ d.id }}"
                            class="button is-small is-danger appr-btn">
                            <span class="icon"><i class="fas fa-times"></i></span>
                        </button>
                    {% else %}
                        <button
                            title="Approve"
                            data-btn-type="approve"
                            data-doc-id="{{ d.id }}"
                            class="button is-small is-success appr-btn">
                            <span class="icon"><i class="fas fa-check"></i></span>
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        {% include "include/no_documents.html" %}
    {% endif %}
</div>
