<nav class="navbar is-link">
    <div class="container">
        <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'registration:login' %}">
            <h1 class="has-text-weight-bold">Thesis Review System</h1>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
        </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
                {% url 'registration:login' as login %}
                {% url 'registration:register' as register %}
                {% url 'registration:about' as about %}
                {% if user.is_authenticated %}
                    <a href=""
                        class="navbar-item">
                        Profile
                    </a>
                    {% if user.is_teacher %}
                    <a href=""
                        class="navbar-item">
                        Groups
                    </a>
                    {% else %}
                    <div class="navbar-item  has-dropdown is-hoverable">
                        <a class="navbar-link" href="{% url 'thesis:group_create_join' %}">
                            Group
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{% url 'thesis:group_create' %}">
                                Create
                            </a>
                            <a class="navbar-item" href="{% url 'thesis:group_join' %}">
                                Join
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    <a href="{% url 'registration:logout' %}"
                        class="navbar-item">
                        Logout
                    </a>
                {% else %}
                    <a class="navbar-item {% if request.path == login %}is-active{% endif %}"
                        href="{% url 'registration:login' %}">
                    Login
                    </a>
                    <a class="navbar-item {% if request.path == register %}is-active{% endif %}"
                        href="{% url 'registration:register' %}">
                    Register
                    </a>
                    <a class="navbar-item {% if request.path == about %}is-active{% endif %}"
                        href="{% url 'registration:about' %}">
                    About
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
