{% extends "admin/change_list.html" %} {% load i18n %} 
{% block object-tools-items %}
    {{ block.super }}
    <li>
        <form action="/admin/upload-student-csv/" method="post" id="csv-form" enctype="multipart/form-data">
            <h6 style="display:inline-block; margin: 0; font-size: 11px;">Upload CSV file</h6>
            <input style="width: 85px;" type="file" name="csv_file" required accept=".csv">
            <input class="historylink" style="margin: 0; padding: 5px 10px;" type="submit">
            {% csrf_token %}
        </form>
    </li>
{% endblock %}