{% extends 'base/thesis_dashboard_base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} | Upload Document
{% endblock title %}


{% block page_title %}
    <h1 class="title">Upload Document</h1>
{% endblock page_title %}


{% block dashboard_content %}

<div class="column">
    <form method="POST" enctype="multipart/form-data" id="document-form">
        {% csrf_token %}
        <div class="file has-name {% if form.errors %}is-danger{% endif %}" id="file-container">
            <label class="file-label">
                <input class="file-input" accept=".pdf" type="file" name="file" id="file">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>
                <span class="file-name" id="file-name">
                    Thesis.pdf
                </span>
            </label>
        </div>
        <p class="help {% if form.errors %}is-danger{% endif %}" id="help">
            Only PDF files are allowed.
        </p>
        <div style="margin-top:0.5rem;">
            <button id="upload-btn" type="submit" class="button is-primary has-text-centered">
                Upload</button>
        </div>
    </form>
</div>

{% endblock dashboard_content %}


{% block extra_js %}
    <script src="{% static 'js/upload.js' %}"></script>
{% endblock extra_js %}
