{% extends 'base/thesis_dashboard_base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} | {{ studentgroup.title }}
{% endblock title %}

{% block extra_css %}
    {{ block.super }}
    <style>
        .content-tab {
            min-height: 290px;
        }
    </style>
{% endblock extra_css %}


{% block dashboard_content %}
    <div class="column is-12-mobile is-5-desktop is-4-widescreen">
        <section class="panel is-link">
            <p class="panel-heading is-flex" style="justify-content:space-between;">
                <span>Documents</span>
                {% if not user.is_teacher %}
                    <a href="{% url 'thesis:document_upload' %}" class="icon has-text-white">
                        <i class="fas fa-upload"></i>
                    </a>
                {% endif %}
            </p>
            <p class="panel-tabs">
                <a class="is-active" onclick="openTab(event,'proposal_documents')">Proposal</a>
                <a onclick="openTab(event,'pre_defense_documents')">Pre-Defense</a>
                <a onclick="openTab(event,'defense_documents')">Defense</a>
            </p>
        
            {% include "include/document_list_tab.html" with studentgroup=studentgroup container_id="proposal_documents" documents=proposal_documents %}

            {% include "include/document_list_tab.html" with studentgroup=studentgroup container_id="pre_defense_documents" documents=pre_defense_documents style="display:none;" %}

            {% include "include/document_list_tab.html" with studentgroup=studentgroup container_id="defense_documents" documents=defense_documents style="display:none;" %}
        </section>

        {% comment %} Logbooks Panel {% endcomment %}
        {% if user.is_student or user == studentgroup.teacher %}
        <section class="panel is-link">
            <p class="panel-heading is-flex" style="justify-content:space-between;">
                <span>Logbooks</span>
                {% if not user.is_teacher %}
                    <a href="{% url 'thesis:logbook_upload' %}" class="icon has-text-white">
                        <i class="fas fa-upload"></i>
                    </a>
                {% endif %}
            </p>
        
            {% include "include/logbook_list.html" with studentgroup=studentgroup logbooks=logbooks %}
        </section>
        {% endif %}
    </div>
    
    <div class="column">

        {% comment %} Document Viewer {% endcomment %}
        <section class="panel is-hidden mt-4" id="document-viewer">
            <p class="panel-heading is-flex" style="justify-content:space-between;">
                <span>Document Viewer</span>
                <a class="icon has-text-dark" id="document-viewer-close">
                    <i class="fas fa-times"></i>
                </a>
            </p>
            <div class="panel-body">
                <div class="content">
                    <iframe id="iframe"
                    src=""
                    frameborder="0" width="100%" height="500"></iframe>
                </div>
            </div>
        </section>

        <section class="panel is-link pb-4">
            <p class="panel-heading">
                Comments
            </p>
            {% if not user.is_teacher or user == studentgroup.teacher or user == studentgroup.internal or user == studentgroup.external %}
                <form class="px-3 pt-3" method="post"
                {% if user.is_teacher %}
                    action="{% url 'thesis:comment_create_teacher' studentgroup.md5hash %}"
                {% else %}
                    action="{% url 'thesis:comment_create' %}"
                {% endif %}
                >
                    <div class="field">
                        <div class="control">
                            <textarea name="content"
                                class="textarea"
                                rows="2"
                                placeholder="Write your comment here!" required=""></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button type="submit" class="button is-link">Post</button></p>
                    </div>

                    {% csrf_token %}
                </form>
            {% endif %}
            {% if comments %}
                {% for comment in comments %}
                    {% if not user.is_teacher or user == studentgroup.teacher %}
                        {% include "include/comment_item.html" with comment=comment user=user studentgroup=studentgroup %}
                    {% elif user == studentgroup.internal and user == comment.user %}
                        {% include "include/comment_item.html" with comment=comment user=user studentgroup=studentgroup %}
                    {% elif user == studentgroup.external and user == comment.user %}
                        {% include "include/comment_item.html" with comment=comment user=user studentgroup=studentgroup %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="panel-body">
                    
                </p>
            {% endif %}
        </section>
    </div>
{% endblock dashboard_content %}

{% block extra_js %}
  {{ block.super }}
    <script>
        {% comment %} Code for Showing Document Viewer {% endcomment %}
        var baseURL = "{% static 'pdfjs/web/viewer.html' %}?file=/media/sg_{{ studentgroup.md5hash }}/",
            view_buttons = document.getElementsByClassName('view-button'),
            document_viewer = document.getElementById('document-viewer'),
            document_viewer_close = document.getElementById('document-viewer-close'),
            iframe = document.getElementById('iframe');

        for (var i = 0; i < view_buttons.length; ++i) {
            view_button = view_buttons.item(i);
            view_button.onclick = function (e) {
                e.preventDefault();
                var fileName = this.getAttribute('data-file-name');
                const iframeSrc = baseURL + fileName;
                const currentIframeSrc = iframe.getAttribute('src');
                if (currentIframeSrc != iframeSrc)
                    iframe.setAttribute('src', baseURL + fileName);
                document_viewer.classList.remove('is-hidden');
            }
        }

        document_viewer_close.onclick = function(e) {
            e.preventDefault();
            document_viewer.classList.add('is-hidden');
            iframe.setAttribute('src', '');
        }

        {% comment %} Code for making Tabs Work {% endcomment %}
        function openTab(evt, tabName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("content-tab");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.querySelectorAll(".panel-tabs > a");
            for (i = 0; i < x.length; i++) {
                tablinks[i].classList.remove('is-active');
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.classList.add("is-active");
        }

        {% comment %} Code for toggling document accepted {% endcomment %}
        const appr_btns = document.getElementsByClassName("appr-btn");

        function approveButtonHandler(e) {
            const btnType = this.getAttribute('data-btn-type')
            let confirmationStatus = false;
            switch(btnType) {
                case 'approve':
                    confirmationStatus = confirm('Are you sure you want to approve this document?');
                    break;
                case 'disapprove':
                    confirmationStatus = confirm('Are you sure you want to disapprove this document?');
                    break;
            }
            if (confirmationStatus) {
                const documentId = this.getAttribute('data-doc-id')
                window.location.href = `/group/{{ studentgroup.md5hash }}/toggle-document/${documentId}/`;
            }
        }

        for (let i = 0; i < appr_btns.length; i++) {
            appr_btns[i].addEventListener('click', approveButtonHandler)
        }

    </script>
{% endblock extra_js %}
