{% extends 'base/thesis_dashboard_base.html' %}
{% load static %}
{% load my_tags %}


{% block title %}
    Create Group | {{ block.super }}
{% endblock title %}

{% block page_title %}
  <h3 class="title">Create Group</h3>
  <h4 class="subtitle">Create a group for your thesis</h4>
  {% if user.studentgroup or messages %}
  <div class="columns">
      <div class="column is-12">
          <div class="columns is-multiline">
              {% if user.studentgroup %}
              <div class="column is-12">
                  <div class="message is-danger">
                      <div class="message-body">
                          You are already in a group! You will leave the current group when you Create/Join another group.
                      </div>
                  </div>
              </div>
              {% endif %}
              {% include "include/messages.html" %}
          </div>
      </div>
  </div>
  {% endif %}
{% endblock page_title %}

{% block dashboard_content %}

<div class="column is-5-desktop is-12-touch">

  <form method="POST" class="has-text-left" id="v-app">
      {% csrf_token %}
      <div class="field">
          <label for="title" class="label">Title</label>
          <div class="control has-icons-left">
              <input class="input {% if 'title' in form.errors %} is-danger{% endif %}"
                      type="text" name="title" id="title"
                      placeholder="Title" autofocus="" required=""
                      value="{{ form.title.value|default_if_none:'' }}">
              <span class="icon is-small is-left">
                  <i class="fas fa-align-justify"></i>
              </span>
              {% if 'title' in form.errors %}
              <ul class="help is-danger">
                  {% for error in form.errors|get_item:'title' %}
                  <li>{{ error }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
          </div>
      </div>
      <div class="field is-fullwidth">
        <label for="field" class="label">Research Field</label>
        <p class="control has-icons-left">
          <span class="select is-fullwidth{% if 'field' in form.errors %} is-danger{% endif %}">
            <select name="field" v-model="field" id="field">
            {% for x,y in form.fields.field.choices %}
              <option value="{{ x }}"{% if form.field.value == x %} selected{% endif %}>{{ y }}</option>
            {% endfor %}
            </select>
          </span>
          <span class="icon is-small is-left">
              <i class="fas fa-globe"></i>
          </span>
          {% if 'field' in form.errors %}
            <ul class="help is-danger">
                {% for error in form.errors|get_item:'field' %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        </p>
      </div>
      <div class="field is-fullwidth">
          <label for="batch" class="label">Batch</label>
          <p class="control has-icons-left">
              <span class="select is-fullwidth{% if 'batch' in form.errors %} is-danger{% endif %}">
                  <select name="batch" id="teacher">
                    {% for x,y in form.fields.batch.choices %}
                    <option value="{{x}}">
                      {{ y }}
                    </option>
                    {% endfor %}
                  </select>
              </span>
              <span class="icon is-small is-left">
                  <i class="fas fa-chalkboard-teacher"></i>
              </span>
              {% if 'batch' in form.errors %}
                <ul class="help is-danger">
                    {% for error in form.errors|get_item:'teacher' %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
          </p>
      </div>
      <div class="field is-fullwidth">
          <label for="first_choice" class="label">Supervisor(1st Choice)</label>
          <p class="control has-icons-left">
              <span class="select is-fullwidth{% if 'first_choice' in form.errors %} is-danger{% endif %}">
                  <select name="first_choice" id="first_choice">
                    {% for x,y in form.fields.first_choice.choices %}
                    <option value="{{x}}">{{y}}</option>
                    {% endfor %}
                  </select>
              </span>
              <span class="icon is-small is-left">
                  <i class="fas fa-chalkboard-teacher"></i>
              </span>
              {% if 'first_choice' in form.errors %}
                <ul class="help is-danger">
                    {% for error in form.errors|get_item:'first_choice' %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
          </p>
      </div>

      <div class="field is-fullwidth">
          <label for="second_choice" class="label">Supervisor(2nd Choice)</label>
          <p class="control has-icons-left">
              <span class="select is-fullwidth{% if 'second_choice' in form.errors %} is-danger{% endif %}">
                  <select name="second_choice" id="second_choice">
                    {% for x,y in form.fields.second_choice.choices %}
                    <option value="{{x}}">{{y}}</option>
                    {% endfor %}
                  </select>
              </span>
              <span class="icon is-small is-left">
                  <i class="fas fa-chalkboard-teacher"></i>
              </span>
              {% if 'second_choice' in form.errors %}
                <ul class="help is-danger">
                    {% for error in form.errors|get_item:'second_choice' %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
          </p>
      </div>

      <div class="field is-fullwidth">
          <label for="third_choice" class="label">Supervisor(3rd Choice)</label>
          <p class="control has-icons-left">
              <span class="select is-fullwidth{% if 'third_choice' in form.errors %} is-danger{% endif %}">
                  <select name="third_choice" id="third_choice">
                    {% for x,y in form.fields.third_choice.choices %}
                    <option value="{{x}}">{{y}}</option>
                    {% endfor %}
                  </select>
              </span>
              <span class="icon is-small is-left">
                  <i class="fas fa-chalkboard-teacher"></i>
              </span>
              {% if 'third_choice' in form.errors %}
                <ul class="help is-danger">
                    {% for error in form.errors|get_item:'third_choice' %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
          </p>
      </div>
      <input type="submit" class="button is-primary"
              value="Create">
  </form>
</div>
{% endblock dashboard_content %}


{% block extra_js %}
{{ block.super }}
<!-- <script>
new Vue({
  el: '#v-app',
  delimiters: ['[[', ']]'],
  data: {
    options: [],
    field: '',
    selected_teacher: {% if form.teacher.value %}{{ form.teacher.value }}{% else %}''{% endif %}
  },
  watch: {
    field(newF, oldF) {
      if (newF != null) {
        options = []
        fetch('field/'+newF+'/teachers/').then(
          response => response.json()
        ).then(
          data => {this.options = JSON.parse(data)}
        ).catch(e => console.log(e))
      }
    }
  }
})
</script> -->
{% endblock extra_js %}
