{% extends 'thesis/thesis_dashboard_base.html' %}

{% block title %}
    {{ block.super }} | Your Group
{% endblock title %}


{% block dashboard_content %}

<div class="columns">
    <div class="column is-5">
    {% if studentgroup.documents.all %}
        <div class="hero is-medium">
    {% else %}
            <div class="hero-body has-text-centered">
                <h4 class="subtitle">No Documents Submitted Yet!</h4>
                <p>
                    <a href="" class="button is-large is-link">Submit Now!</a>
                </p>
            </div>
    {% endif %}
        </div>
    </div>
    <div class="column is-5"></div>
</div>


{% endblock dashboard_content %}
