{% extends 'base/thesis_dashboard_base.html' %}
{% load static %}
{% load my_tags %}


{% block title %}
    {{ block.super }} | Invite Friends
{% endblock title %}


{% block page_title %}
    <h3 class="title">Group Settings</h3>
{% endblock page_title %}


{% block dashboard_content %}

<div class="column is-5">
    <form method="POST" class="has-text-left">
        {% csrf_token %}
        <div class="field">
            <label for="title" class="label">Thesis Title</label>
            <div class="control has-icons-left">
                <input class="input {% if 'title' in form.errors %} is-danger{% endif %}" type="text" name="title" placeholder="Title"
                    autofocus="" required=""
                    value="{{ form.title.value|default_if_none:'' }}"
                    id="title">
                <span class="icon is-small is-left">
                    <i class="fas fa-align-justify"></i>
                </span>
                {% if 'title' in form.errors %}
                <ul class="help is-danger">
                    {% for error in form.errors|get_item:'title' %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="field">
            <label for="teacher" class="label">Teacher</label>
            <p class="control has-icons-left">
                <span class="select {% if 'teacher' in form.errors %} is-danger{% endif %}">
                    <select name="teacher" id="teacher">
                        {% for x,y in form.fields.teacher.choices %}
                        <option value="{{ x }}"
                            {% if form.teacher.value == x %}
                                selected
                            {% endif %}
                            >
                            {{ y }}
                        </option>
                        {% endfor %}
                    </select>
                </span>
                <span class="icon is-small is-left">
                    <i class="fas fa-chalkboard-teacher"></i>
                </span>
                {% if 'teacher' in form.errors %}
                <ul class="help is-danger">
                    {% for error in form.errors|get_item:'teacher' %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </p>
        </div>
        <input type="submit" class="button is-primary" value="Update">
    </form>
</div>

{% endblock dashboard_content %}
