{% extends 'thesis/thesis_dashboard_base.html' %}

{% block title %}
    {{ block.super }} | Your Group
{% endblock title %}


{% block dashboard_content %}

<div class="columns">
    <div class="column is-5">
    {% if studentgroup.documents.all %}
    {% else %}
        <div class="hero is-medium">
            <div class="hero-body has-text-centered">
                <h4 class="subtitle">No Documents Submitted Yet!</h4>
                {% if not user.is_teacher %}
                <p>
                    <a href="" class="button is-large is-link is-outlined">
                    <i class="fas fa-upload"></i>&nbsp;
                    Submit Now!</a>
                </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
    </div>
    <div class="column"></div>
</div>

{% endblock dashboard_content %}
