{% extends 'base/thesis_dashboard_base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} | Approve Group: {{ studentgroup.title }}
{% endblock title %}


{% block dashboard_content %}

<div class="column">
    <h3 class="subtitle">
        Are you sure you want to
        <span class="has-text-weight-bold">
            {% if studentgroup.approved %}DISAPPROVE{% else %}APPROVE{% endif %}
        </span>
        this group?
    </h3>
    <form method="post">
        {% csrf_token %}
        <div class="field is-grouped">
            <p class="control">
                <button class="button is-primary">
                    {% if studentgroup.approved %}DISAPPROVE{% else %}APPROVE{% endif %}
                </button>
            </p>
            <p class="control">
              <a href="{% url 'thesis:group_detail' studentgroup.md5hash %}" class="button is-danger">
                Cancel
              </a>
            </p>
        </div>
    </form>
</div>

{% endblock dashboard_content %}
