{% extends 'base/thesis_dashboard_base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} | Invite Friends
{% endblock title %}


{% block page_title %}
    <h1 class="title">Invite Friends</h1>
    <h2 class="subtitle">Share this code with your friends!</h2>
{% endblock page_title %}


{% block dashboard_content %}

<div class="column">
    <p class="is-size-2"
        style="font-family:monospace;">
        {{ studentgroup.md5hash }}</p><br>
    <p class="is-size-6 is-text-dark">
        P.S. The code is case-sensitive.
    </p>
</div>

{% endblock dashboard_content %}
