{% extends 'base/thesis_dashboard_base.html' %}
{% load static %}
{% load my_tags %}


{% block title %}
    {{ block.super }} | Update Group Info
{% endblock title %}


{% block page_title %}
    <h3 class="title">Group Settings</h3>
{% endblock page_title %}


{% block dashboard_content %}

<div class="column is-5">
  <form method="POST" class="has-text-left" id="v-app">
    {% csrf_token %}
    <div class="field">
        <label for="title" class="label">Title</label>
        <div class="control has-icons-left">
            <input class="input{% if 'title' in form.errors %} is-danger{% endif %}"
                    type="text" name="title" id="title"
                    placeholder="Title" autofocus="" required=""
                    value="{{ form.title.value|default_if_none:'' }}">
            <span class="icon is-small is-left">
                <i class="fas fa-align-justify"></i>
            </span>
            {% if 'title' in form.errors %}
            <ul class="help is-danger">
                {% for error in form.errors|get_item:'title' %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="field is-fullwidth">
      <label for="research_field" class="label">Research Field</label>
      <p class="control has-icons-left">
        <span class="select is-fullwidth{% if 'teacher' in form.errors %} is-danger{% endif %}">
          {% if form.teacher.value %}
          <input type="hidden" name="field" value="{{ form.field.value }}" id="research_field">
          {% endif %}
          <select name="field" v-model="field" {% if form.field.value %}disabled{% endif %}>
          {% for x,y in form.fields.field.choices %}
            <option value="{{ x }}"{% if form.field.value == x %} selected{% endif %}>{{ y }}</option>
          {% endfor %}
          </select>
        </span>
        <span class="icon is-small is-left">
            <i class="fas fa-globe"></i>
        </span>
        {% if 'field' in form.errors %}
        <ul class="help is-danger">
            {% for error in form.errors|get_item:'field' %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      </p>
    </div>
    <div class="field is-fullwidth">
        <label for="teacher" class="label">Teacher</label>
        <p class="control has-icons-left">
            <span class="select is-fullwidth{% if 'teacher' in form.errors %} is-danger{% endif %}">
                {% if form.teacher.value %}
                <input type="hidden" name="teacher" value="{{ form.teacher.value }}" id="teacher">
                {% endif %}
                <select name="teacher" v-model="selected_teacher" {% if form.teacher.value %}disabled{% endif %}>
                  <option value="">Select Teacher</option>
                  <option
                    v-for="option in options"
                    :value="option.id">
                    [[ option.full_name ]] ([[ option.username ]])
                  </option>
                </select>
            </span>
            <span class="icon is-small is-left">
                <i class="fas fa-chalkboard-teacher"></i>
            </span>
            <p class="help">A teacher can supervise at most 5 Student Groups. Teachers with minimum 5 Student Groups will not be listed.</p>
            {% if 'teacher' in form.errors %}
            <ul class="help is-danger">
                {% for error in form.errors|get_item:'teacher' %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </p>
    </div>
    <input type="submit" class="button is-primary"
            value="Update">
  </form>
</div>

{% endblock dashboard_content %}

{% block extra_js %}
{{ block.super }}
<script>
new Vue({
  el: '#v-app',
  delimiters: ['[[', ']]'],
  data: {
    options: [],
    field: {% if form.field.value %}{{ form.field.value }}{% else %}''{% endif %},
    selected_teacher: {% if form.teacher.value %}{{ form.teacher.value }}{% else %}''{% endif %}
  },
  methods: {
    getTeacherOptions(field_id) {
      fetch('http://localhost:8000/group/create/field/'+field_id+'/teachers/').then(
        response => response.json()
      ).then(
        data => {this.options = JSON.parse(data)}
      ).catch(e => console.log(e))
    }
  },
  watch: {
    field(newF, oldF) {
      if (newF != null) {
        this.getTeacherOptions(newF)
      }
    }
  },
  created: function () {
    if (this.field)
      this.getTeacherOptions(this.field)
  }
})
</script>
{% endblock extra_js %}
