{% extends 'base/base.html' %}
{% load my_tags %}


{% block title %}
    {{ block.super }} | Join Group
{% endblock title %}


{% block content %}
<div class="hero is-medium">
    <div class="hero-body">
        <div class="container">

            {% if user.studentgroup %}
            <div class="columns">
                <div class="column is-6 is-offset-3">
                    <div class="message is-danger">
                        <div class="message-body">
                            You are already in a group! You will leave the current group when you Create/Join another group.
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="column is-4 is-offset-4  has-text-centered">
                <h3 class="title">Join Group</h3>
                <h4 class="subtitle">Join a group your friend created!</h3>
                <div class="box">
                    <form method="POST" class="has-text-left">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input is-large{% if 'md5hash' in form.errors %} is-danger{% endif %}"
                                        type="text" name="md5hash"
                                        placeholder="Group Code" autofocus="" required=""
                                        value="{{ form.md5hash.value|default_if_none:'' }}">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-hashtag"></i>
                                </span>
                                {% if 'md5hash' in form.errors %}
                                <ul class="help is-danger">
                                    {% for error in form.errors|get_item:'md5hash' %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                        <input type="submit" class="button is-large is-primary is-fullwidth"
                                value="Join">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
