{% extends 'base/thesis_dashboard_base.html' %}

{% block title %}
    Create and Join a Group | {{ block.super }}
{% endblock title %}

{% block page_title %}
  <h2 class="title">Create or Join a Group</h2>
  <h4 class="subtitle">Join your group members or create a new group</h4>
{% endblock page_title %}

{% block dashboard_content %}
    {% if user.studentgroup or messages %}
    <div class="columns">
        <div class="column is-12">
            <div class="columns is-multiline">
                {% if user.studentgroup %}
                <div class="column is-12">
                    <div class="message is-danger">
                        <div class="message-body">
                            You are already in a group! You will leave the current group when you Create/Join another group.
                        </div>
                    </div>
                </div>
                {% endif %}
                {% include 'include/messages.html' %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="column is-6">
        <div class="columns is-mobile">
            <div class="column">
            <a href="{% url 'thesis:group_create' %}" class="button is-large is-primary is-fullwidth">
                Create</a>
            </div>
            <div class="column">
            <a href="{% url 'thesis:group_join' %}" class="button is-large is-primary is-fullwidth">
                Join</a>
            </div>
        </div>
        <p>
        </p>
    </div>
{% endblock dashboard_content %}

